/* 
    Document   : style.css
    Created on : 15.01.2013, 21:32:19
    Author     : Thomas Oster <thomas.oster@rwth-aachen.de>
    Description:
        Purpose of the stylesheet follows.
*/

body {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 1px 5px 0px white;
  background: #F9F9FA;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  position:relative;
  padding-left: 10px;
  padding-bottom: 10px;
  min-height: 100%;
}

#input {
  float: left;
}

#preview {
  float: right;
}

.clear {
  clear: both;
}

#input img, #preview img {
  width: 500px;
}


.logo {
  position: absolute;
  top: 10px;
  right: 10px;
}

#capture {
  width: 70%;
  float: left;
}

#settings {
  float: left;
}

#settings label {
  width: 8em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

#settings p, #settings hr {
    clear: left; // clear float of previous label
}
